.section {
  padding: 100px;
  padding-left: calc(50% - 550px);
  padding-right: calc(50% - 550px);

  @media (max-width: 1300px) {
    padding-left: 100px;
    padding-right: 100px;
  }

  display: flex;
  justify-content: space-between;

  background-color: white;
  &_background {
    &_secondary {
      background-color: whitesmoke;
    }

    &_dark {
      background-color: black;
    }

    &_image {
      &-big, &-small {
        background-color: black;
        background-position: center;
        background-size: cover;
      }

      &-big {
        background-image: url(assets/image-big.png);
      }

      &-small {
        background-image: url(assets/image-small.png);
      }
    }
  }

  &_vertical-indent {
    &_tiny {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &__left, &__right {
    max-width: 50%;
  }

  $-left-right-indent: 95px;
  &__left_indented {
    padding-right: $-left-right-indent;
  }
  &__right_indented {
    padding-left: $-left-right-indent;
  }

  @media (max-width: 1300px) {
    $-left-right-indent: 50px;

    &__left_indented {
      padding-right: $-left-right-indent;
    }
    &__right_indented {
      padding-left: $-left-right-indent;
    }
  }

  @media (max-width: 1100px) {
    $-left-right-indent: 25px;

    &__left_indented {
      padding-right: $-left-right-indent;
    }
    &__right_indented {
      padding-left: $-left-right-indent;
    }
  }

  &_aligned {
    &_center {
      align-items: center;
    }
  }

  &_bottom-shadow {
    box-shadow: 0 5px 10px -5px gray;
  }
}
