.social {
  height: 50px;
  display: flex;

  &_small {
    height: 25px;
  }

  &__link {
    height: 100%;
    margin-right: 35px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__logo {
    height: 100%;

    transition: .2s;
    &:hover {
      filter: sepia(0.5) saturate(40) hue-rotate(-30deg);
    }
  }
}
