@use 'colors.scss' as c;

.tabs {
  &__tab {
    display: block;
    width: 112px;
    height: 112px;
    border-width: 0;
    margin-bottom: 1px;
    background-color: #252525;

    $-border-radius: 7px;
    &:first-child {
      border-top-left-radius: $-border-radius;
      border-top-right-radius: $-border-radius;
    }
    &:last-child {
      border-bottom-left-radius: $-border-radius;
      border-bottom-right-radius: $-border-radius;
    }

    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;

    cursor: pointer;
    transition: .2s;
    &:hover, &_active {
      background-color: c.$special;
    }
  }
}
