@use 'colors.scss' as c;

.tabs {
  &__tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 112px;
    height: 112px;
    border-width: 0;
    margin-bottom: 1px;
    background-color: #252525;

    $-border-radius: 7px;
    &:first-child {
      border-top-left-radius: $-border-radius;
      border-top-right-radius: $-border-radius;
    }
    &:last-child {
      border-bottom-left-radius: $-border-radius;
      border-bottom-right-radius: $-border-radius;
    }

    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;

    cursor: pointer;
    transition: .2s;
  }
}

.tabs-decoration {
  @media (max-width: 1250px) {
    width: 250px;
  }
}

.tabs-state {
  display: none;
}

.tabs__tab:hover,
#tabs-state-1:checked ~ .tabs > #tabs__tab-1,
#tabs-state-2:checked ~ .tabs > #tabs__tab-2,
#tabs-state-3:checked ~ .tabs > #tabs__tab-3 {
  background-color: c.$special;
}
