.footer-links
  margin-left: -9px
  margin-right: -9px

  display: flex
  align-items: center

  &__link
    margin-left: 9px
    margin-right: 9px
    cursor: pointer
    text-decoration: none

    color: black
    font-family: 'Playfair Display', serif
    font-size: 14px
    font-weight: 400
    line-height: 24px

    &_icon
      &_facebook
        width: 8px
        height: 14px
        background-image: url('assets/footer-links__link_icon_facebook.png')

      &_twitter
        width: 18px
        height: 13px
        background-image: url('assets/footer-links__link_icon_twitter.png')

      &_instagram
        width: 15px
        height: 15px
        background-image: url('assets/footer-links__link_icon_instagram.png')
