@use 'common.sass' as *

.header
  padding: 65px $field
  display: flex

  text-transform: uppercase

  &__name
    margin-right: auto

    font-family: 'Inconsolata', monospace
    color: black
    font-size: 30px
    font-weight: 400
    line-height: 24px
    letter-spacing: 6px

  &__topic-type
    margin-left: 100px
    cursor: pointer
    text-decoration: none

    font-family: 'Playfair Display', serif
    color: $primary-color
    font-size: 14px
    font-weight: 400
    line-height: 24px
