@use 'common.sass' as *

.section
  margin-bottom: 100px

  &_field
    &_regular
      padding-left: $field
      padding-right: $field

    &_big
      padding-left: $big-field
      padding-right: $big-field

  &_gray
    background-color: $gray

  &_centering-content
    text-align: center
