@use 'common.sass' as *

.section
  padding-bottom: 100px

  &_field_regular
    padding-left: $field
    padding-right: $field

  &_field_big
    padding-left: $big-field
    padding-right: $big-field
