* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Lato;
}

p {
  margin: 0;
}

/* main-view */
.main-view {
  width: 100%;
  height: 100vh;
  background-image: url(assets/main-view__background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-transform: uppercase;
  text-align: center;
  color: white;
}

.main-view__logo {
  margin-top: 26vh;
}

.main-view__title {
  margin: 0;
  margin-top: 8vh;

  font-size: 54px;
  font-weight: 700;
  letter-spacing: 8.62px;
  white-space: pre-line;
}

.main-view__our_proposal {
  margin-top: 4vh;

  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 29px;
  white-space: pre-line;
}

.main-view__scroll-down {
  margin-top: auto;
  margin-bottom: 10.7vh;
}

/* text-container */
.text-container {
  display: inline-block;
  position: relative;
  width: 902px;
  border: 2px solid #3c3c3c;
  border-top-width: 0px;
  padding: 76px 160px 53px;

  color: #3c3c3c;
}

.text-container::before, .text-container::after {
  content: '';
  position: absolute;
  top: -2px;
  width: 238px;
  border: 1px solid;
}

.text-container::before {
  left: -2px;
}

.text-container::after {
  right: -2px;
}

.text-container_color_white {
  color: white;
  border-color: white;
}

@media (max-width: 1020px) {
  .text-container {
    width: 702px;
    padding-left: 60px;
    padding-right: 60px;
  }
  .text-container::before, .text-container::after {
    width: 138px;
  }
}

.text-container__title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 427px;

  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 8.95px;
}

.text-container__content {
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

.text-container__content_preformatted {
  white-space: pre-line;
}

/* item */
.item {
  padding: 49px 0 39px;
}

.item__title {
  margin: 35px 0 0;

  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5.26px;
}

.item__content {
  margin: 30px 0 0;
  font-size: 14px;
}

.item__content_preformatted {
  white-space: pre-line;
}

/* container */
.container {
  text-align: center;
  padding: 160px 0;
}

.container_specific-indent_services {
  padding: 128px 0 109px;
}

.container_specific-indent_what-we-do {
  padding: 120px 0 115px;
}

.container_specific-indent_contact-us {
  padding: 138px 0 0;
}

.container_specific-indent_signature {
  padding: 63px 0;
}

.container_background {
  background-image: url(assets/container_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}

/* plates */
.plates {
  height: 484px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.plates__plate {
  height: 237px;
  flex-basis: 28.59%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  cursor: pointer;
  transition: 0.25s;
}

.plates__plate:hover {
  transform: scale(1.007);
  opacity: 0.9;
  box-shadow: 0 0 7.5px grey;
}

.plates__plate_big {
  flex-basis: 41.77%;
}

.plates__plate_picture_1st {
  background-image: url(assets/plates_plate_1.png);
}

.plates__plate_picture_2nd {
  background-image: url(assets/plates_plate_2.png);
}

.plates__plate_picture_3rd {
  background-image: url(assets/plates_plate_3.png);
}

.plates__plate_picture_4th {
  background-image: url(assets/plates_plate_4.png);
}

.plates__plate_picture_5th {
  background-image: url(assets/plates_plate_5.png);
}

.plates__plate_picture_6th {
  background-image: url(assets/plates_plate_6.png);
}

.plates__text {
  margin: 0 0 30px 40px;

  color: white;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
}

@media (max-width: 1200px) {
  .plates {
    height: 479px;
  }
  .plates__text {
    margin: 0 0 20px 15px;

    font-size: 30px;
    letter-spacing: 8px;
  }
}

@media (max-width: 920px) {
  .plates__text {
    margin: 0 0 15px 5px;

    font-size: 28px;
    letter-spacing: 5px;
  }
}

/* contact-us */
.contact-us {
  margin-top: 42px;
  width: 395px;
  padding: 23px 0;
  border: 2px solid #3c3c3c;
  background-color: #3c3c3c;
  cursor: pointer;
  outline: none;

  color: white;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.54px;
}

.contact-us:active {
  transform: scale(0.98);
  opacity: 0.95;
}

/* signature */
.signature {
  display: inline-flex;
  align-items: center;
}

.signature__text {
  margin-left: 36px;

  color: #3c3c3c;
  font-size: 14px;
  font-weight: 400;
}
