* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Lato;
}

/* main-view */
.main-view {
  width: 100vw;
  height: 100vh;
  background-image: url(assets/main-view__background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% 90%;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-transform: uppercase;
  text-align: center;
  color: white;
}

.main-view__logo {
  margin-top: 26vh;
}

.main-view__title {
  margin: 0;
  margin-top: 8vh;

  font-size: 54px;
  font-weight: 700;
  letter-spacing: 8.62px;
}

.main-view__our_proposal {
  margin-top: 4vh;

  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.9px;
  line-height: 29px;
}

.main-view__scroll-down {
  margin-top: auto;
  margin-bottom: 10.7vh;
}

/* text-container */
.text-container {
  display: inline-block;
  position: relative;
  width: 902px;
  border: 2px solid #3c3c3c;
  border-top-width: 0px;
  padding: 76px 160px 53px;

  color: #3c3c3c;
}

.text-container::before, .text-container::after {
  content: '';
  position: absolute;
  top: -2px;
  width: 238px;
  border: 1px solid #3c3c3c;
}

.text-container::before {
  left: -2px;
}

.text-container::after {
  right: -2px;
}

.text-container__title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 427px;

  text-transform: uppercase;
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 8.95px;
}

.text-container__content {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

/* container */
.container {
  text-align: center;
  padding: 160px 0;
}

.container_specific-indent_services {
  padding: 128px 0 109px;
}

.container_specific-indent_what-we-do {
  padding: 120px 0 115px;
}

.container_specific-indent_contact-us {
  padding: 138px 0 63px;
}

.container_background {
  background-image: url(assets/container_background.png);
}
