* {
  box-sizing: border-box;
}

body {
  font-family: Lato;
}

body, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}


.section {
  text-align: center;
}

.section_size_viewport {
  height: 100vh;
}

.section_content-alignment_top-center {
  padding-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section_background_1, .section_background_2 {
  background-repeat: no-repeat;
  background-size: cover;
}

.section_background_1 {
  background-image: url(assets/section_background_1.png);
  background-position: 90%;
}

.section_background_2 {
  background-image: url(assets/section_background_2.png);
  background-position: 50%;
}

.section_indent_160 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.section_indent_128-109 {
  padding-top: 128px;
  padding-bottom: 109px;
}

.section_indent_120-115 {
  padding-top: 120px;
  padding-bottom: 115px;
}

.section_indent_top-138 {
  padding-top: 138px;
}

.section_indent_63 {
  padding-top: 63px;
  padding-bottom: 63px;
}


.item {
  display: inline-block;
  text-align: center;
  color: #3c3c3c;
  border-color: #3c3c3c;
}

.item_color_white {
  color: white;
}

.item__title {
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 8.95px;
  text-transform: uppercase;
}

.item__title_size_big {
  margin-top: 80px;
  margin-bottom: 40px;

  font-size: 54px;
  letter-spacing: 8.62px;
  white-space: pre-line;
}

.item__title_size_small {
  margin: 40px 0;

  font-size: 20px;
  letter-spacing: 5.26px;
}

.item__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  white-space: pre-line;
}

.item__text_size_big {
  font-size: 15px;
  font-weight: 400;
  line-height: 29px;
  text-transform: uppercase;
  letter-spacing: .9px;
}

.item__text_size_small {
  font-size: 14px;
  line-height: 25.89px;
}

.item_bordered {
  width: 902px;
  position: relative;
  padding: 77px 160px 55px;
  border: 2px solid;
  border-top-width: 0;
}

@media (max-width: 1000px) {
  .item_bordered {
    width: 702px;
    padding-left: 60px;
    padding-right: 60px;
  }
}

.item_bordered > .item__title-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.item_bordered > .item__title-container::before,
.item_bordered > .item__title-container::after {
  content: '';
  border: 1px solid;
  width: 100%;
  flex-shrink: 2;
}

.item_bordered > .item__title-container > .item__title {
  min-width: 440px;
  padding: 0 10px;
  flex-shrink: 1;
}

.item__content_indented {
  margin-top: 63px;
  margin-bottom: 37px;
}


.scroll-down-logo {
  position: absolute;
  bottom: 10.7vh;
}


.plates {
  height: 484px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  overflow: hidden;
}

.plates__plate {
  height: 237px;
  flex-basis: 28.59%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  cursor: pointer;
  transition: 0.25s;
}

.plates__plate:hover {
  transform: scale(1.007);
  opacity: 0.9;
  box-shadow: 0 0 7.5px grey;
}

.plates__plate_big {
  flex-basis: 41.77%;
}

.plates__plate_picture_1st {
  background-image: url(assets/plates_plate_1.png);
}

.plates__plate_picture_2nd {
  background-image: url(assets/plates_plate_2.png);
}

.plates__plate_picture_3rd {
  background-image: url(assets/plates_plate_3.png);
}

.plates__plate_picture_4th {
  background-image: url(assets/plates_plate_4.png);
}

.plates__plate_picture_5th {
  background-image: url(assets/plates_plate_5.png);
}

.plates__plate_picture_6th {
  background-image: url(assets/plates_plate_6.png);
}

.plates__text {
  margin: 0 0 30px 40px;

  color: white;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 8.95px;
}

@media (max-width: 1200px) {
  .plates {
    height: 479px;
  }
  .plates__text {
    margin: 0 0 20px 15px;

    font-size: 30px;
    letter-spacing: 8px;
  }
}

@media (max-width: 920px) {
  .plates__text {
    margin: 0 0 15px 5px;

    font-size: 28px;
    letter-spacing: 5px;
  }
}


.contact-us {
  margin-top: 42px;
  width: 395px;
  padding: 23px 0;
  border: 2px solid #3c3c3c;
  background-color: #3c3c3c;
  cursor: pointer;
  outline: none;

  color: white;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2.54px;
}

.contact-us:active {
  transform: scale(0.98);
  opacity: 0.95;
}


.signature {
  display: inline-flex;
  align-items: center;
}

.signature__text {
  margin-left: 36px;

  color: #3c3c3c;
  font-size: 14px;
  font-weight: 400;
}
