.list {
  $indent: 20px;
  margin-left: -$indent;
  margin-right: -$indent;

  display: flex;

  &_align-at-center {
    align-items: center;
  }

  &_top-indent {
    &_big {
      padding-top: 70px;
    }
  }

  &_justified {
    &_evenly {
      justify-content: space-evenly;
    }
  }

  &__element {
    margin-left: $indent;
    margin-right: $indent;

    flex-basis: 1px;
    flex-grow: 1;

    &_initial-size {
      flex-grow: 0;
    }
  }
}
